* {
    box-sizing: border-box;
}



body{
    background-image: url("background.jpeg");
    background-size: cover;
    font-family: 'Ibarra Real Nova', serif;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.container > div {
    flex: 1;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

p { 
   font-size: 15px;
    opacity: 0.8;
}

.box { 
    background-color: hsl(248, 32%, 49%);;
   border-radius: 5px;
   box-sizing: 0 6px rgba(0, 0, 0, 0.2);
   padding: 20px;
   margin-bottom: 20px;
   text-align: center;
}

.box p {
    margin: 0;
}

.box-blue {
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
}

.form-control{
    position: relative;
    margin-bottom: 20px;
}

.form-control small{
    position: absolute;
    font-weight: 600;
    bottom: -24;
    right: 0;
    opacity: 0;
   text-align: right;
}

input {
    border-radius: 5px ;
    border: 1.3px solid hsl(248, 32%, 49%);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 25px;
    display: block;
    width: 100;
}

input:focus{
    border: 1.3px solid hsl(248, 32%, 49%);
    outline: none;
}

button{
    background-color: hsl(154, 59%, 51%);
    border-radius: none;
    border: 1px solid hsl(154, 59%, 45%); 
    color: #fff;
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    letter-spacing: 1px;
    display: block;
    width: 100;
    /* transition: transfers 0.4s ease; */
}

button:focus{
    outline: none;
}

button:active{
    border-bottom-width: 1px ;
    box-shadow: 0 2px hsl(154, 59%, 45%);
    transform: translateY(2px);
}
    
small{
    display: block;
   color: blueviolet; 
   font-size:11px;
   font-weight: 500;
   margin-top: 20px;
}

small a{
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}


 

 
